# Arquivos Git
.git
.gitignore
.gitattributes

# Arquivos Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
dist
build

# Jupyter Notebooks (se não forem necessários)
*.ipynb_checkpoints

# Ambientes virtuais
venv
env
ENV

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml